{% extends 'bulma/base.html' %}
{% load bulma_tags %}
{% load static %}

{% block title %}Submit Feedback{% endblock %}

{% block content %}
    <h1 class="title">Submit New Feedback / Complaint</h1>
    <form method="post" id="create-form">
        {% csrf_token %}
        {{ form | bulma }}
        <a class="button is-success" id="submit-feedback" href="#">Submit Feedback</a>
    </form>
{% endblock content %}

{% block extra_javascript %}
    <script type="text/javascript" src="{% static "js/jsencrypt.js" %}"></script>
    <script type="text/javascript" src="{% static "js/app.js" %}"></script>
{% endblock %}