{% extends 'bulma/admin-base.html' %}
{% load bulma_tags %}
{% load static %}
{% load deslugify %}

{% block title %}View Feedback{% endblock %}

{% block content %}
    <div>
        <p><strong>Feedback ID</strong>: <span class="is-family-monospace">{{ feedback.id }}</span></p>
        <p><strong>Status</strong>: {{ feedback.status | deslugify | capfirst }}</p>
        <p><strong>Organisation</strong>: {{ feedback.organisation.name | capfirst }}</p>
        <p><strong>Category</strong>: {{ feedback.category.title | capfirst }}</p>
        <p><strong>Filed on</strong>: {{ feedback.created_at | date }}</p>
        <p><strong>Last Updated on</strong>: {{ feedback.updated_at | date }}</p>

        <blockquote>
            <h5 class="title" id="id_title_view">{{ feedback.title }}</h5>
            <section id="id_description_view">{{ feedback.description }}</section>
        </blockquote>
    </div>

    <br>
    <form method="POST">
        {% csrf_token %}
        {% for transition in transitions %}
            <button type="submit" name="action" value="{{ transition.name }}" class="button is-info">{{ transition.name | deslugify | capfirst }}</button>
        {% endfor %}
    </form>
    <br>
    <h3 class="subtitle">Photos</h3>
    <div class="columns">
        <div class="column is-4 is-12-mobile">
            {% if feedback.photo_1 %}
                <a href="{{ feedback.photo_1.url }}"><img src="{{ feedback.photo_1.url }}" alt=""></a> {% endif %}
        </div>
        <div class="column is-4 is-12-mobile">
            {% if feedback.photo_2 %}
                <a href="{{ feedback.photo_2.url }}"><img src="{{ feedback.photo_2.url }}" alt=""></a> {% endif %}
        </div>

        <div class="column is-4 is-12-mobile">
            {% if feedback.photo_3 %}
                <a href="{{ feedback.photo_3.url }}"><img src="{{ feedback.photo_3.url }}" alt=""></a> {% endif %}
        </div>
    </div>

    <br>
    <h1 class="subtitle">Updates</h1>

    <a class="button is-warning" href="{% url "feedback_note-new" pk=object.pk %}">New Update</a>
    <br><br>
    {% if not feedback.feedbacknote_set.all.exists %}
        <div>No Updates Yet.</div>
    {% endif %}

    <div>
        {% for note in feedback.feedbacknote_set.all %}
            <blockquote>
                <h2 class="subtitle">{{ note.title }}</h2>
                <p class="text-muted">{{ note.visibility | capfirst }}</p>
                <p class="text-muted">{{ note.created_at | date }} {{ note.created_at | time }}</p>

                <p>{{ note.description }}</p>
            </blockquote>
        {% endfor %}
    </div>
{% endblock content %}

{% block extra_javascript %}
    <script type="text/javascript" src="{% static "js/jsencrypt.js" %}"></script>
    <script type="text/javascript" src="{% static "js/admin.js" %}"></script>
{% endblock %}